.chef{
    padding-top: 6rem;
}
.ourmenu{
    padding-top: 6rem;
}
.sub{
    padding-top: 6rem;
}
.container{
    padding-top: 6rem;
}
.f-contact{
    padding-top: 6rem;
    font-size: 40px;
}